
@{
    ViewBag.Title = "Product";
}
<input type="checkbox" id="check">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-section">

                <div class="title">
                    <div class="col-sm-6">
                        <p>Product</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Price</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Quantity</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Total</p>
                    </div>
                </div>
                <hr />
                <div class="content">
                    <div class="col-sm-6">
                        <img src="~/Assets/Image/Pics/Wellness And Paradise.png" width="50px" />
                        <a href="#">Wellness And Paradise</a>
                    </div>
                    <div class="col-sm-2">
                        <span class="price"></span>
                    </div>
                    <div class="col-sm-2">
                        <i class="fas fa-caret-left fa-3x"></i>
                        <span id="count"><b>1</b></span>
                        <i class="fas fa-caret-right fa-3x"></i>

                    </div>
                    <div class="col-sm-2">
                        <span class="total"></span>
                    </div>
                </div>
                <template id="card">
                    <div class="content">
                        <div class="col-sm-6">
                            <img width="50px" />
                            <a href="#"></a>
                        </div>
                        <div class="col-sm-2">
                            <span class="price"></span>
                        </div>
                        <div class="col-sm-2">
                            <i class="fas fa-caret-left fa-3x"></i>
                            <span id="count"><b>1</b></span>
                            <i class="fas fa-caret-right fa-3x"></i>

                        </div>
                        <div class="col-sm-2">
                            <span class="total"></span>
                        </div>
                        @*<div>
                            <p >原價</p>
                            <p>折扣</p>
                        </div>*@
                    </div>
                </template>
            </div>

        </div>
        <div class="basket">
            <h2 class="ml-4 mb-3">Basket totals</h2>
            <div class="col-12 d-flex data mb-2">
                <div class="col-sm-3">
                    <span>Total</span>
                </div>
                <div class="col-sm-6 ml-5">
                    <span class="total"></span>
                    <span class="coupon_price"></span>
                </div>
            </div>

            <div class="col-sm-3 data ml-3">
                <span>Coupon</span>
            </div>
            <div class="col-sm-12 d-flex mt-3 mb-4">
                <div class="col-sm-8">
                    <input type="text" placeholder="Enter your coupon code" />
                </div>
                <div class="col-sm-3">
                    <p class="badge rounded-circle  bg-secondary p-2">Apply</p>
                </div>

            </div>
        </div>
        <div class="col-sm-12 mt-2  d-flex ">
            <button>RETURN TO SHOP</button>
            <button class="proceed ml-2">
                Proceed to checkout
            </button>
        </div>









    </div>
</div>
@Scripts.Render("~/Assets/JavaScript/Custom/CartPage/cart.js")





