
@{
    ViewBag.Title = "Product";
}
<input type="checkbox" id="check" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-section">

                    <div class="title">
                        <div class="col-sm-6">
                            <p>Product</p>
                        </div>
                        <div class="col-sm-2">
                            <p>Price</p>
                        </div>
                        <div class="col-sm-2">
                            <p>Quantity</p>
                        </div>
                        <div class="col-sm-2">
                            <p>Total</p>
                        </div>
                    </div>
                    <hr />
                    <div class="content">
                        <div class="col-sm-6">
                            <span></span>
                            <a href="#">Wellness And Paradise</a>
                        </div>
                        <div class="col-sm-2">
                            <span id="price"></span>
                        </div>
                        <div class="col-sm-2">
                            <i class="fas fa-caret-left fa-3x"></i>
                            <span id="count"><b>1</b></span>
                            <i class="fas fa-caret-right fa-3x"></i>

                        </div>
                        <div class="col-sm-2">
                            <span id="total">$67.00</span>
                        </div>
                    </div>
                </div>

            </div>
                <button>RETURN TO SHOP</button>        
        </div>
    </div>






