@model IEnumerable<Xboox.Models.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Product";
}
<input type="checkbox" id="check">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-section">
                <div class="title">
                    <div class="col-sm-6">
                        <p>Product</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Price</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Quantity</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Total</p>
                    </div>
                </div>
                <hr />
                @foreach (var data in Model)
                {
                    @Html.Partial("_CartPartialView", data);
                }
            </div>
        </div>
        <div class="basket">
            <h2 class="ml-4 mb-3">Basket totals</h2>
            <div class="col-12 data d-flex mb-2">
                <div class="col-5 col-sm-5">
                    <span>Total</span>
                </div>
                <div class="col-7 col-sm-7">
                    <span class="total"></span>
                </div>
            </div>
            <hr/>
            <div class="col-12 data d-flex mb-2">
                <div class="col-5 col-sm-5">
                    <span>Coupon</span>
                </div>
                <div class="col-7 col-sm-7">
                    <span class="coupon_price"></span>
                </div>
            </div>
            <div class="col-sm-12 d-flex mt-3 mb-4">
                <div class="col-sm-8">
                    <input type="text" placeholder="Enter your coupon code" />
                </div>
                <div class="col-sm-3">
                    <p class="badge rounded-circle  bg-secondary p-2">Apply</p>
                </div>

            </div>
        </div>
        <div class="col-sm-12 mt-2  d-flex ">
            <button>RETURN TO SHOP</button>
            <button class="proceed ml-2">
                Proceed to checkout
            </button>
        </div>
    </div>
</div>
@Scripts.Render("~/Assets/JavaScript/Custom/CartPage/cart.js")





