
@{
    ViewBag.Title = "Product";
}
<input type="checkbox" id="check" >
    <div class="container">
        <div class="row">
            <h3>Your basket is currently empty.</h3>
            <button>RETURN TO SHOP</button>
        </div>
    </div>

