<h2>Users Management</h2>
<div class="col-12 my-3">
    <table id="userable" class="table mdl-data-table mdl-data-table_full mdl-js-data-table mdl-shadow--2dp" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Email</th>
                <th>PhoneNumber</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#userable').DataTable({
                "ajax": {
                    "url": "/api/User/ListUser",
                    "type": "GET",
                    "dataSrc": '',
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "UserName" },
                    { "data": "Email" },
                    { "data": "PhoneNumber" },
                ],

            });
        }
        );
    </script>
}

