@{
    ViewBag.Title = "Tag";


}
<div class="d-flex justify-content-between">
    <h2>Tags Management</h2>
    <button class="btn-primary border btn-lg  mb-4 createTag">建立書本標籤</button>
</div>
<div class="col-12 my-3">
    <table id="tagTable" class="table mdl-data-table mdl-data-table_full mdl-js-data-table mdl-shadow--2dp" style="width:100%">
        <thead>
            <tr>
                <th>TagName</th>
                <th>編輯</th>
            </tr>
        </thead>
    </table>
</div>
<div id="tagSetting" style="display:none">
    <div class="form-group">
        <label for="tagsInput">Tags Name</label>
        <input type="text" class="form-control" id="tagsInput">
        <p style="display:none"></p>
    </div>
    <button id="backToTagsList" class="btn btn-primary">Back to List</button>
    <button id="saveChangeTags" class="btn btn-primary" style="margin:10px 0 0 0">Save Change</button>
    <button id="createBtn" class="btn btn-primary" style="display:none;margin:10px 0 0 0">Create</button>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tagTable').DataTable({
                "ajax": {
                    "url": "/api/Tags/GetTags",
                    "type": "GET",
                    "dataSrc": '',
                },
                "columns": [
                    { data: "TagName" },
                    {
                        data: null,
                        render: function (data) {
                            return '<button type="button" class="btn btn-info tagsEdit" onclick="editTag(this);"data-id="' + data["TagId"] + '" id="' + data["TagName"] + '">編輯</button>'
                        }
                    }
                ],

            });
        }
        );
        function formSet(tagset, edit, create, index, wrapper) {
            $('#tagSetting').css('display', tagset);
            $('#saveChangeTags').css('display', edit);
            $('#createBtn').css('display', create);
            $('table').css('display', index);
            $('#tagTable_wrapper').css('display', wrapper);

        }
        function editTag(ele) {
            formSet('block', 'block', 'none', 'none', 'none');
            $('.createTag').css('display', 'none');
            $('.form-group p').text($(ele).attr('data-id'));
            $('#tagsInput').val(ele.id);
        };

        $('#saveChangeTags').click(function (e) {
            let name = $('#tagsInput').val();
            let id = $('.form-group p').text();
            $.ajax({
                url: "/api/Tags/SaveEditTag/",
                data: { "tagName": name, "tagId": id },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    location.href = '/Tags/Index';
                },
                error: function (xhr, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                    location.href = '/Tags/Index';
                }
            })

        });



        $('.createTag').click(function () {
            formSet('block', 'none', 'block', 'none', 'none');
        }
        )

        $('#createBtn').click(function (e) {
            e.preventDefault();

            let InputName = $('#tagsInput').val();
            $.ajax({
                url: "/api/Tags/CreateTags/",
                data: { "tagName": InputName },
                type: 'PUT',
                dataType: "json",
                success: function (data) {
                    location.href = '/Tags/Index';
                },
                error: function (xhr, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                    location.href = '/Tags/Index';
                }
            });
        })

        $("#backToTagsList").click(function () { location.href = '/Tags/Index'; });
    </script>
}