@{
    ViewBag.Title = "Home Page";
}

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="/Assets/Image/Pics/slider1.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>All in one</span>
                            <h1>Xboox</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>All in one</span>
                            <h1>Xboox</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>All in one</span>
                            <h1>Xboox</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

