@model IEnumerable<XbooxCMS.ViewModels.OrderViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Orders Management</h2>
<div class="col-lg-12 my-3">
    <div class="shop__cart__table " id="table1">
        <table class="text-center  mdl-data-table mdl-data-table_full mdl-js-data-table mdl-shadow--1dp" id="ordertable">
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>建立日期</th>
                    <th>付款時間</th>
                    <th>付款方式</th>
                    <th>是否成立</th>
                    <th>付款狀態</th>
                    <th>購買人明細</th>
                    <th>訂單產品明細</th>
                    <th>取消與刪除</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="purchaserInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">購買人資訊</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="orderDetails" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header bg-dark">
                <h5 class="modal-title m-2 text-white" id="details">訂單明細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td style="width: 60%;">名稱</td>
                            <td>單價</td>
                            <td>數量</td>
                            <td class="text-right">價格</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<template id="OrderDetailsList">
    <td style="width: 60%;"></td>
    <td></td>
    <td></td>
    <td class="text-right"></td>
</template>

<!-- 使用jquery -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@10.2.0/dist/sweetalert2.all.min.js"></script>
<!-- 使用vue -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $.fn.dataTable.render.moment = function (from, to, locale) {
        // Argument shifting
        if (arguments.length === 1) {
            locale = 'en';
            to = from;
            from = 'yyyy-MM-dd HH:mm:ss';
        }
        else if (arguments.length === 2) {
            locale = 'en';
        }

        return function (d, type, row) {
            if (!d) {
                return type === 'sort' || type === 'type' ? 0 : d;
            }

            var m = window.moment(d, from, locale, true);

            // Order and type get a number value from Moment, everything else
            // sees the rendered value
            return m.format(type === 'sort' || type === 'type' ? 'x' : to);
        };
    };
    $(document).ready(function () {
        var table = $('#ordertable').DataTable({
            ajax: {
                url: "/Api/Order",
                dataSrc: ""
            },
            columns: [
                {
                    data: 'OrderId',
                    width: '15%',
                },
                {
                    data: 'OrderDate',
                    width: '10%',
                    render: function (data) {
                        return data.replace(/T/, ' ').replace(/\..+/, '').replace(/-/g,'/')
                    }
                },

                {
                    data: 'PayDate',
                    render: function (data) {
                        console.log(data);
                        if (!data) {
                            return '<div class="text-danger">未有付款日期</div>'
                        }
                        return data.replace(/T/, ' ').replace(/\..+/, '').replace(/-/g, '/');
                    }
                    ,
                    width: '10%'
                },
                {
                    data: 'Payment'
                },
                {
                    data: 'Build',
                    render: function (data) {
                        if (data != true) {
                            return '<div class="text-danger">已取消</div>'
                        }
                        else {
                            return '<div class="text-success">已建立</div>'
                        }

                    }
                },
                {
                    data: 'Paid',
                    render: function (data) {
                        if (data != true) {
                            return '<div class="text-danger">未付款</div>'
                        }
                        else {
                            return '<div class="text-success">已付款</div>'
                        }

                    }
                },
                {
                    data: 'OrderId',
                    render: function (data, type, row) {
                        return `<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-primary text-white" id=${data} data-toggle="modal" data-target="#purchaserInfo" onclick="PurchaserInfo('${row.PurchaserName}','${row.PurchaserEmail}','${row.PurchaserPhone}','${row.PurchaserAddress}')">查看</button>`
                    }

                },
                {
                    data: 'OrderId',
                    render: function (data) {
                        return `<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id=${data} data-toggle="modal" data-target="#orderDetails" onclick="checkDetails('${data}')">查看</button>`
                    }
                },
                {
                    data: 'OrderId',
                    render: function (data, type, row) {
                        if (row.Build) {
                            return `<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-danger text-white" id=${data} data-toggle="modal" data-target="#deleteOrder" onclick="cancleOrder('${data}')">取消</button>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id=${data} data-toggle="modal" data-target="#deleteOrder" onclick="deleteOrder('${data}')">刪除</button>`
                        }
                        return `<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent ml-auto" id=${data} data-toggle="modal" data-target="#deleteOrder" onclick="deleteOrder('${data}')">刪除</button>`
                    }
                }
            ]


        });
    });

</script>

<script>
    let checkDetails;
    let cancleOrder;
    let deleteOrder;
    let PurchaserInfo;
    window.addEventListener("load", function () {
        let detailsBody = $("#orderDetails .modal-body tbody");
        PurchaserInfo = function (name, email, phone, address) {
            console.log(name, email, phone, address);
            let infoModal = $("#purchaserInfo .modal-body ul li")
            infoModal.eq(0).html(`<span class="font-weight-bold mr-3">購買人:</span><span>${name}</span>`)
            infoModal.eq(1).html(`<span class="font-weight-bold mr-3">購買人信箱:</span><span>${email}</span>`)
            infoModal.eq(2).html(`<span class="font-weight-bold mr-3">購買人電話:</span><span>${phone}</span>`)
            infoModal.eq(3).html(`<span class="font-weight-bold mr-3">購買人地址:</span><span>${address}</span>`)
        }
        checkDetails = function (id) {
            console.log('--- detail');
            $.ajax({
                url: `/api/order/GetOrderDeatils/${id}`,
                method: "get",
                //dataType: "json",
                success: function (res) {
                    let orderData = {
                        total: 0,
                        discount: "",
                        couponCode: ""
                    }
                    detailsBody.text('');
                    res.forEach(item => {
                        let tr = $("<tr></tr>");
                        let OrderDetailsList = $($("#OrderDetailsList").html());
                        console.log(item);
                        OrderDetailsList.eq(0).text(item.ProductName);
                        OrderDetailsList.eq(2).text(item.UnitPrice);
                        OrderDetailsList.eq(4).text(item.Quantity);
                        OrderDetailsList.eq(6).text(item.Total)
                        tr.append(OrderDetailsList);
                        if (item.Coupon != null) {
                            orderData.total += Math.round(parseFloat(item.Total * item.Coupon.Discount));
                            orderData.discount = item.Coupon.Discount;
                            orderData.couponCode = item.Coupon.CouponCode;
                        } else {
                            orderData.total += Math.round(parseFloat(item.Total));
                        }
                        detailsBody.append(tr);
                    })
                    if (orderData.discount != "") {
                        let discountRow = $(`<tr><td><span class="text-left d-inline-block font-weight-bold">折扣碼</span></td><td><span style="font-size: 20px" class="d-inline-block text-right text-danger font-weight-bold">${orderData.couponCode}</span></td><td><span class="text-left d-inline-block font-weight-bold">折扣</span></td><td><span style="font-size: 20px" class="d-inline-block text-right text-danger font-weight-bold">${orderData.discount}</span></td></tr>`);
                        detailsBody.append(discountRow);
                    }
                    let endtr = $(`<tr><td colspan="3"><span class="text-left d-inline-block font-weight-bold">總價</span></td><td colspan="1"><span style="font-size: 20px" class="d-inline-block text-right text-danger font-weight-bold">${orderData.total}</span></td></tr>`);
                    detailsBody.append(endtr);
                },
                error: function (err) { console.log(err) },
            });
        };


        cancleOrder = function (orderid) {
            console.log('--- cancel');
            Swal.fire({
                title: '取消訂單',
                text: "取消訂單後將訂單狀態改為已取消,此動作無法返回",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '我要取消!',
                preConfirm: () => {
                    console.log(orderid);
                    $.ajax({
                        type: "post",
                        url: `/api/order/CancelOrder`,
                        data: { OrderId: orderid },
                        success: function (response) {
                            console.log(response);
                            window.location.href = response.redirectToUrl;
                        }
                    })
                },
                allowOutsideClick: () => !Swal.isLoading()
            })
        };
        deleteOrder = function (orderid) {
            console.log('--- delete');
            Swal.fire({
                title: '刪除訂單',
                text: "刪除訂單後就無法再找回資料",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '我要刪除!',
                preConfirm: () => {
                    console.log(orderid);
                    $.ajax({
                        type: "post",
                        url: `/api/order/DeleteOrder`,
                        data: { OrderId: orderid},
                        success: function (response) {
                            console.log(response);
                            window.location.href = response.redirectToUrl;
                        }
                    })
                },
                allowOutsideClick: () => !Swal.isLoading()
            })
        };
    });
</script>