* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Cormorant Garamond', serif;
}

/*body {
    padding-top: 0;
}*/

/*.navbar {*/
    /*background-color: #a56029;*/
    /*border-color: white;*/
/*}*/

/*.nav-item a {
    color: #000000 !important;
    transition: all 0.25s ease-in-out !important;
}
.nav-item a:hover {
    color: #d53a3a !important;
    transition: all 0.25s ease-in-out !important;
}*/
/*#searchBox{*/
    /*width: 400px;*/
/*}*/
/*.navbar-form .form-control {
    width: 300px;
    margin-right: -10px;
}

.dropdown {
    display: inline-block;
}*/
/*.dropdown-menu {
    left: 
}*/

/*.btn-default {
    background-color: #ccc;
    width: 75px;
}*/
