.headerdropdown {
    position: absolute;
    right: 0;
    top: 88px;
    width: 150px;
    background-color: #111;
    text-align: left;
    padding: 2px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#cart_dropdown {
    background: #000;
    width: 230px;
}
    #cart_dropdown li{

        display:flex;
        justify-content:center;
        align-items:center;

    }
    #cart_dropdown span:first-child {
        padding:10px;
        font-size: 7px;
        color: #fff;
        width:170px;
    }

    #cart_dropdown span:last-child {
        color: #fff;
        
        padding:0 10px 0 10px ;
        font-size: 14px;
    }

.headerdropdown li {
    display: block;
    margin-right: 0;
}

    .headerdropdown li a {
        color: #fff;
        font-size: 14px;
        font-size: medium;
        padding: 8px 20px;
        /* text-transform: capitalize; */
        display: block;
        font-family: 'Noto Sans TC', sans-serif;
    }

.header__right ul li:hover .headerdropdown {
    top: 56px;
    opacity: 1;
    visibility: visible;
}
