input {
  max-width: 100%; }

.form-group {
  width: 50%; }

.title {
  height: 300px; }

.container .row button {
  font-size: 12px;
  color: #fff;
  padding: 9px 27px 5px 32px;
  background-color: #d14031;
  border: 1px solid transparent;
  cursor: pointer;
  display: block;
  margin: auto; }

.container .row h3 {
  font-size: 25px;
  color: #000;
  display: block;
  padding: 20px 30px;
  margin: 40px 0 30px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #e1e1e1; }
