@model IEnumerable<XbooxCMS.ViewModels.ProductListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h2>Products Management</h2>
    <p>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons" onclick="location.href='@Url.Action("Create", "Product")'">add</i>
        </button>
    </p>
</div>
<div class="col-md-12 my-3">
    <table class="table mdl-data-table mdl-data-table_full mdl-js-data-table mdl-shadow--1dp" id="Producttable">
        <thead>
            <tr>
                <th>
                    ProductId
                </th>
                <th>
                    Name
                </th>
                <th>
                    UnitInStock
                </th>
                <th>
                    Price
                </th>


                <th>
                    Author
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    PublishedDate
                </th>

                <th>
                    CategorName
                </th>
          

                <th></th>
                 <th></th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>

    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                確定要刪除嗎? 資料將會直接消失
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" id="deletefunction" >Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#Producttable').DataTable({
                ajax: {
                    url: "/Api/Product",
                    dataSrc: ""

                },

                columns: [
                    {
                        data: 'ProductId',

                    },
                    {
                        data: 'Name'
                    },
                    {
                        data: 'UnitInStock'
                    },
                    {
                        data: 'Price'
                    },

                    {
                        data: 'Author'
                    },
                    {
                        data: 'Publisher'
                    },
                    {
                        data: 'PublishedDate'
                    },
                    {
                        data: 'CategorName'
                    },

                    {
                        data: 'ProductId',
                        render: function (data) {

                            return ` <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Edit" onclick="location.href='/product/edit/${data}'" />`

                        }
                    },
                    {
                        data: 'ProductId',
                        render: function (data) {
                            return `  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal"  onclick="deletefunction('${data}')" data-target="#exampleModal" id="${data}">Delete</button>`
                            //return ` <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Delete" onclick="location.href='/product/delete/${data}'" />`
                        }
                    },


                ]


            });
        });
    </script>


    <script type="text/javascript">
        let redirectUrl = "/product/Index";
        let deletefunction;
        var dele_id; /*= $(this).data('#data-id')*/

        deletefunction = function (id) {
            dele_id = id;
      
        }
        $("#deletefunction").click(function () {
            $.ajax({
                type: "DELETE",
                url: '/api/product/'+ dele_id,
                contentType: 'application/json; charset=utf-8',
               
                success: function (data) {
                    console.log("Success Deleted", data);
                   window.location.href = redirectUrl;
                },

                error: function (xhr) {
                    alert('fails');

                }


            })



        })
    </script>
}