<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo d-flex justify-content-center align-items-center">
                        <img src="https://i.imgur.com/JBxUrd4.png" />
                        <a href="javascript:void(0)" class="mx-3">Xboox</a>
                    </div>
                    <p class="text-center">All in one.</p>
                    <div class="footer__payment text-center">
                        <a href="javascript:void(0)"><img src="https://i.imgur.com/AKabZQb.png" alt="MasterCard"></a>
                        <a href="javascript:void(0)"><img src="https://i.imgur.com/PC3p97H.png" alt="Visa"></a>
                        <a href="javascript:void(0)"><img src="https://i.imgur.com/0q31mo3.png" alt="ECPAY"></a>
                        <a href="javascript:void(0)"><img src="https://i.imgur.com/qe2aVNF.png" alt="PayPal"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="javascript:void(0)">About</a></li>
                        <li><a href="javascript:void(0)">Blogs</a></li>
                        <li><a href="javascript:void(0)">Contact</a></li>
                        <li><a href="javascript:void(0)">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="/Member/UserEdit">My Account</a></li>
                        <li><a href="/Member/Order">My Order</a></li>
                        <li><a href="@Url.Action("ShopCart","Cart")">My Cart</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-youtube-play"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This website with <i class="fa fa-heart"
                                                                             aria-hidden="true"></i> by Xboox
                    </p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
