@model IEnumerable<string>

<div class="col-lg-8 col-md-8">
    <ul class="filter__controls">
        <li class="active" data-filter="*">All</li>
        @foreach (var tag in Model)
        {
            <li data-filter=".@tag">@tag</li>
        }
        @*<li data-filter=".Business">Business</li>
        <li data-filter=".Investment">Investment</li>
        <li data-filter=".SocialScience">SocialScience</li>
        <li data-filter=".Programming">Programming</li>
        <li data-filter=".Fantasy">Fantasy</li>
        <li data-filter=".Medical">Medical</li>*@
    </ul>
</div>
