<div class="col-lg-2 col-12 pb-0 pt-5 pr-5">
    <div class="shop__sidebar h-auto pl-lg-5" >
        <div class="sidebar__categories">
            <div class="section-title">
                <h4>會員專區</h4>
            </div>
            <div class="categories__accordion">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-heading">
                            @Html.ActionLink("我的會員資料", "UserDataDetails", "Account")
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            @Html.ActionLink("變更個人資料", "UserDataEdit", "Account")
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            @Html.ActionLink("變更密碼", "ChangePassWord", "Manage")
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            @Html.ActionLink("我的訂單", "UserView", "Order")
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            <a>願望清單</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
