@model IEnumerable<string>

@{ 
    var url = Request.Url.Segments;
}
<div class="col-xl-6 col-lg-7">
    <nav class="header__menu">
        <ul>
            @foreach (var bar in Model)
            {
                string active = url.Length > 2 ? url[2] == bar || url[2] == bar + "/" ? "active" : String.Empty : String.Empty;
                <li class="@active"><a href="/Books/@bar/1">@bar</a></li>
            }
        </ul>
    </nav>
</div>
