@model Xboox.Models.ViewModels.CartViewModel

<tr>
    <td class="cart__product__item">
        <img src="~/Assets/Image/Pics/@Model.ProductImg"  style="width:50px" alt="圖片壞掉拉">
        <div class="cart__product__item__title">
            <h6>@Model.Name</h6>
           
        </div>
    </td>
    <td class="cart__price">@Model.Total</td>
    <td class="cart__quantity">
        <div class="pro-qty">
            <span class="cart__count"></span>
        </div>
    </td>
    <td class="cart__total"></td>
    <td class="cart__close"><button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button></td>
</tr>
