<div class="sidebar__filter">
    <div class="section-title">
        <h4>Shop by price</h4>
    </div>
    <div class="filter-range-wrap">
        <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly style="border:0; color:#CA1515; font-weight:bold;">
        </p>
        <div id="slider-range"></div>
    </div>
    <a href="javascript:void(0)" id="PriceFilter" style="margin-bottom: -45px">Filter</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script>


    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 999,
            values: window.location.href.split('/').length > 5 ? [parseInt(window.location.href.split('/')[5].split('-')[0]), parseInt(window.location.href.split('/')[5].split('-')[1])] : [0, 999],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            "-$" + $("#slider-range").slider("values", 1));
    });

    document.getElementById("PriceFilter").addEventListener("click", function () {
        var min = document.getElementById("amount").value.split('-')[0];
        var max = document.getElementById("amount").value.split('-')[1];
        var mintrans = min.substring(1, min.length - 1);
        var maxtrans = max.substring(2, max.length);
        var category = window.location.href.split('/');
        this.setAttribute("href", "/Books/" + category[4] + "/" + mintrans + "-" + maxtrans);
    });
</script>
