@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="neworders">載入中...</h3>
                <p>New Orders</p>
            </div>
            <div class="icon pr-1">
                <i class="fa fa-pie-chart"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="revenue">載入中...</h3>
                <p>Revenue</p>
            </div>
            <div class="icon pr-1">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="allmembers">載入中...</h3>

                <p>All Members</p>
            </div>
            <div class="icon pr-1">
                <i class="fa fa-user"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3 id="allproducts">載入中...</h3>

                <p>All Products</p>
            </div>
            <div class="icon pr-1">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 connectedSortable">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-area-chart mr-1"></i>
                    Sales Revenue
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="chart tab-pane active" id="revenue-chart"
                         style="position: relative; height: 550px;">
                        <canvas id="revenue-linechart" height="300" style="height: 300px;"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-area-chart mr-1"></i>
                    銷量最高產品
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                    </ul>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="chart tab-pane active" id="productpie-chart"
                         style="position: relative; height: 550px;">
                        <div class="row justify-content-between">
                            <a class="select">Jan</a>
                            <a class="select">Feb</a>
                            <a class="select">Mar</a>
                            <a class="select">Apr</a>
                            <a class="select">May</a>
                            <a class="select">Jun</a>
                        </div>
                        <div class="row justify-content-between">
                            <a class="select">Jul</a>
                            <a class="select">Aug</a>
                            <a class="select">Sep</a>
                            <a class="select">Oct</a>
                            <a class="select">Nov</a>
                            <a class="select">Dec</a>
                        </div>

                        <canvas id="pie-chart" height="300" style="height: 300px;"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {  
    // titaldata ajax
        $.ajax({
            url: "/TitleData/GetTitleData",
            type: "GEt",
            dataType: "json",
            success: function (response) {
                var orders = document.getElementById('neworders');
                orders.innerText = response.orders;
                var revenue = document.getElementById('revenue');
                revenue.innerText = response.revenue;
                var members = document.getElementById('allmembers');
                members.innerText = response.members;
                var products = document.getElementById('allproducts');
                products.innerText = response.products;

                console.log(response);
                ////get JSON  --  sales revenue
                $.ajax({
                    url: "/Dashboard/GetSalesRevenue",
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        //可動態調整每月營收報表
                        var datalist = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                        var NumOfJData = response.length;
                        for (var i = 0; i < NumOfJData; i++) {
                            var month = response[i]["Month"] - 1;
                            var revenue = response[i]["Revenue"];
                            datalist[month] = revenue;
                        }
                        //CreateChartJS_Line(datalist);
                        chart1.data.datasets[0].data = datalist
                        chart1.update();
                        // get json --  top products
                        $(".select").each(function (index) {
                            $(this).on("click", function () {
                                $.ajax({
                                    url: "/PieChajs/GetTop5Products",
                                    type: "GET",
                                    dataType: "json",
                                    success: function (response) {
                                        var labels = [];
                                        var datalist = [];
                                        // for 迴圈防呆還沒做
                                        for (i = 0; i < response.length; i++) {
                                            if (response[i]["Month"] == index + 1) {

                                                labels.push(response[i]["Name"]);
                                                datalist.push(response[i]["Quantity"]);
                                            }

                                        }
                                        chartpie.data.labels = labels
                                        chartpie.data.datasets[0].data = datalist
                                        chartpie.update();
                                        //console.log(response);
                                        //console.log(labels);
                                        //console.log(datalist);
                                    }
                                });
                            });
                        });
                    }
                });

            }
        });
    
});
    
    // sales revenue chartjs
    var ctx = document.querySelector("#revenue-linechart");
    var chart1 = new Chart(ctx, {
        type: "line",
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: "Xboox",
                fill: false,
                backgroundColor: 'rgba(153,50,204,0.3)',
                borderColor: 'rgb(123,55,190)',
                pointStyle: "circle",
                pointBackgroundColor: 'rgb(220,20,60)',
                pointRadius: 5,
                pointHoverRadius: 10,
                data: ""
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                fontSize: 26,

            },
            tooltips: {
                mode: 'point',
                intersect: true,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '月份',
                        fontSize: 15
                    },
                    ticks: {
                        fontSize: 15
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Million(NTD)',
                        fontSize: 15
                    },
                    ticks: {
                        fontSize: 15
                    }
                }]
            },
            animation: {
                duration: 2000
            }
        }
    });
    

    // top5product chartjs
    var ctxPie = document.querySelector("#pie-chart");
    var chartpie = new Chart(ctxPie, {
        type: "pie",
        data: {
            labels: ['沼澤女孩', '房奴：時代控訴長篇小說', '人脈複利：打造高價值連結，安永、嬌生、花旗銀行等財星500大企業的職場必修課', '證詞：《使女的故事》續集'],
            datasets: [{
                label: "書名",
                data: [5, 10, 15, 20],
                backgroundColor: ['rgba(63,127,191,1)', 'rgba(191,102,63,1)', 'rgba(167,63,191,1)', 'rgba(174,191,63,1)', 'rgba(63,191,108,1)'],
            }]
        },
        options: {
            responsive: true,
            //title: {
            //    display: true,
            //    fontSize: 26,
            //    text: '銷量最高產品'
            //},
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: 'black',
                }
            },
            animation: {
                duration: 2000
            }
        }
    });    

</script>
