@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JSON test Veiw</h2>


<button id="ajax">按爆我</button>
<p id="test">顯示在這裡</p>
<p id="test2"></p>
<p id="test3"></p>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>

@*<script>
    
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            //  labels: jsMonth,
            datasets: [{
                label: "Xboox",
                //  label: jsBusiness[0].City,
                fill: false,
                backgroundColor: 'rgba(153,50,204,0.3)',
                borderColor: 'rgb(123,55,190)',
                pointStyle: "circle",
                pointBackgroundColor: 'rgb(220,20,60)',
                pointRadius: 5,
                pointHoverRadius: 10,
                //  data: jsBusiness[0].Business
                data: datalist

            }]
        }
</script>*@

<script>
    var apiurl = "/Dashboard/GetSalesRevenue"
    var test = document.getElementById("test");
    var test2 = document.getElementById("test2");
    var test3 = document.getElementById("test3");
    test.innerText = "API URL" + apiurl;
    $.ajaxSetup({ cache: false });


    $().ready(function () {
        $.ajax({
            url: apiurl,
            type: "GET",
            dataType: "json",
            success: function (response) {

                console.log(response)
            }
        });
    });

    //var datalist = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    
    //$().ready(function () {
    //    $("#ajax").click(function () {
    //        $.ajax({
    //            url: apiurl,
    //            type: "GET",
    //            dataType: "json",
    //            success: function (response) {
    //                test.innerHTML = JSON.stringify(response);
    //                test.style.display = "block";

    //                //可動態調整每月營收報表
    //                var NumOfJData = response.length;
    //                for (var i = 0; i < NumOfJData; i++) {
    //                    var month = response[i]["Month"] - 1;
    //                    var revenue = response[i]["Revenue"];
    //                    datalist[month] = revenue;
    //                    //檢查
    //                    test3.innerText += '月份' + response[i]["Month"];
    //                    test3.innerHTML += '金額' + response[i]["Revenue"];
    //                }
    //                alert(datalist)
    //            }
    //        });
    //    });
    //});  

</script>