html,body {
    list-style:none;
    text-decoration:none;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
ul {
    list-style: none;
}
.color-1{
    color:#737373
}
aside {
    width: 20%;
    float: left;
    background-color: aliceblue;
    opacity: 70;
    font-size: 14px;
    height: 150%;
    padding-top: 30px;
}
    aside > ul > li {
        padding: 14px 17px;
        
    }
    aside > ul{
        padding:0;
    }

.sidebar {
    position: fixed;
    width: 16%;
    height: 100vh;
    background-color: aliceblue;
}

.aside {
    height: 100%;
    /* display:flex;*/
}
div.navbar {
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, .1);
    background-color: aliceblue;
    border-color: aliceblue;
}
.body-content {
    position: relative;
    width: 80%;
    float: right;
    padding-top: 50px;
    right:50px;
}



.cate_dropdownpd{
    padding:20px 0;
}
textarea{
    max-width:350px;
    width:150px;
    height:150px;
    overflow:hidden;
}
.panel-primary {

    border-color: #ebebeb;
    border-radius: 3px;
    background-clip: padding-box;
}

.panel-body {
    border: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
.panel {
    margin-bottom: 17px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    border:1px solid #ebebeb;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.control-label {
    text-align: right;
    padding-top: 7px;
}
.form-display {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 0px;
}
.panel-body input, .panel-body textarea {
    max-width: 400px;
}
.mdl-button--gold{
    background-color:gold;
}
.mdl-button.mdl-js-button{
    margin:5px 0;
}
.mdl-button:hover {
    background-color: gold;
}
div .mdl-data-table {
    white-space: normal;
}

table.mdl-data-table td {
    text-align: center;
}

button.filepond--file-action-button {
    visibility: hidden;
    z-index:-10;
}
.card{
    margin-top:30px;
}
.input-group{
    padding:10px 0;
}
.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;

    margin-bottom: 5px;
}
.input-style-4 {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: none;
}
.row-space .input-group  {
    display: block;
}
.input-group .label {
    display: block;
}

.card-4 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
    .card-4 .card-body {
        padding: 57px 65px;
        padding-bottom: 65px;
    }
.input-group input{
    max-width:600px;
   
}

.l-width {
    width: 400px;
}
.l-height {
    height:50px;
}
div .input-group.tag-label{
    width:auto;
}

button.btn-beige{
    background-color: beige;
    padding:10px 50px;
}

.p-t-15{
    padding-top:20px;
}
/*div.note-editable {
    height: 200px
}*/
.filepond--root {
 height: 150px;
 width:600px;
}