html,body {
    list-style:none;
    text-decoration:none;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
body{
    padding-top:0;
    padding-bottom:0;
}
ul {
    list-style: none;
}
aside > ul > li {
    padding: 14px 17px;
}

div.navbar {
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, .1);
    top:-50px;
    padding:20px;
}
.cate_dropdownpd{
    padding:20px 0;
}
textarea{
    max-width:350px;
    width:150px;
    height:150px;
    overflow:hidden;
}
.panel-primary {
    border-color: #ebebeb;
    border-radius: 3px;
    background-clip: padding-box;
}

.panel-body {
    border: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
.panel {
    margin-bottom: 17px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    border:1px solid #ebebeb;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.control-label {
    text-align: right;
    padding-top: 7px;
}
.form-display {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 0px;
}
.panel-body input, .panel-body textarea {
    max-width: 400px;
}
.mdl-button--gold{
    background-color:gold;
}
.mdl-button.mdl-js-button{
    margin:5px 0;
}
.mdl-button:hover {
    background-color: gold;
}
div .mdl-data-table {
    white-space: normal;
}

table.mdl-data-table td {
    text-align: center;
}

button.filepond--file-action-button {
    visibility: hidden;
    z-index:-10;
}
.card{
    margin-top:30px;
}
.input-group{
    padding:10px 0;
}
.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;

    margin-bottom: 5px;
}
.input-style-4 {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: none;
}

.form-control.login-form-control {
    border-radius: 0px;
    padding: 20px 20px;
    font-size: 14px;
    color: #666;
}
.row-space .input-group {
    display: block;
}
.input-group .label {
    display: block;
}

.card-4 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.card-4 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
}
.input-group input{
    max-width:600px;
   
}

.l-width {
    width: 400px;
}
.l-height {
    height:50px;
}
div .input-group.tag-label{
    width:auto;
}

button.btn-beige{
    background-color: beige;
    padding:10px 50px;
}

.p-t-15{
    padding-top:20px;
}
.filepond--root {
 height: 150px;
 width:600px;
}


/*new*/
.main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    overflow-y: hidden;
    z-index: 1034;
    background-color: #343a40;
}

.sidebar {
    position: fixed;
    width: 16%;
    height: 100vh;
}
aside {
    width: 250px;
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    background-color: black;
}
/* navbar */
li .nav-link {
    display: flex;
}
.has-treeview p ,i.fa {
    color: #c2c7d0;
    font-size:16px;
}
.nav-item{
    transition: all .3s;
    width: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    transition: all .3s;
    width: 100%;
}
.nav-link p {
    margin: 0;
}
.nav-item a:hover {
    background-color: #DB7328;
    color: black;
}
i.nav-icon{
    margin: 10px;
}

li.nav-item.max-height {
    max-height: 435px;
    transition: max-height 0.5s ease-in-out;
}
li.manage_section {
    max-height: 46px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.nav-item a {
    color: #c2c7d0;
    font-size: 16px;
    padding-top: 7px;
}
.nav-item a:hover{
    text-decoration:none;
}
/*Sidebar*/
.brand-link img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
span.brand-text{
    margin-left: 20px;
    color: #c2c7d0;
    font-weight:600;
    line-height:1.2;
    font-size: 30px;
    letter-spacing: 2px;
}

.pic_size {
    width: 200px;
    height: 200px;
    padding: 10px;
  
}
.picture-group {
    display: flex;
}
.closebtn {
    color: antiquewhite;
    border-radius: 100%;
    border: 2px solid;
    border-color: black;
    padding: 5px 10px;
    background-color: darkorange;
    font-weight: bold;
}
.closebtn:hover{
    color:red;
    background-color:antiquewhite;

}
.container.body-content {
    margin-left: 300px;
}
.field-validation-error {
    display:flex;
    color:red;

    /*position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;*/
}

.pd-50{
    padding-top:50px;
}
#text1{
    position:absolute;
    visibility:hidden;
}
.login{
    display:flex;
    justify-content:center;
}

.control-label-login{
    display:inline;
}

.ln-form{
    min-width:500px;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
    background-image: none !important;
    color: transparent !important
}
input#Email.form-control.mdl-textfield__input{
    background-color: transparent !important;
}
.form-control:focus {
    border-color: seagreen !important ;
    border:2px;
    box-shadow: #b66d20;
}
