<section class="h-50 d-flex justify-content-center align-items-center">
    <h1>@ViewBag.Success</h1>
    <button class="btn btn-danger text-white">@Html.ActionLink("回到首頁", "Index", "Home")</button>
</section>
@section dealWithCart {
    <script>
        (() => {
            localStorage.clear();
        })()
    </script>   
}