@model IEnumerable<Xboox.ViewModels.CartViewModel>
@{
    ViewBag.Title = "CreateOrder";
    decimal total = 0m;
    foreach (var item in Model)
    {
        total += Math.Round(item.Price * item.Quantity);
    }
    ViewBag.Total = total;
}
<form action="/Order/CreateOrder" class="checkout__form" method="post">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h5>Billing detail</h5>
                <div class="row">
                    @Html.AntiForgeryToken()
                    <div class="col-lg-12">
                        <div class="checkout__form__input">
                            <p>Name <span>*</span></p>
                            <input type="text" name="PurchaserName" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__form__input">
                            <p>City <span>*</span></p>
                            <input type="text" name="City" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__form__input">
                            <p>Area <span>*</span></p>
                            <input type="text" name="District" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="checkout__form__input">
                            <p>Road <span>*</span></p>
                            <input type="text" name="Road" required>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="checkout__form__input">
                            <p>Phone <span>*</span></p>
                            <input type="tel" name="PurchaserPhone" required>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="checkout__form__input">
                            <p>Email <span>*</span></p>
                            <input type="email" name="PurchaserEmail" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="checkout__form__checkbox">
                            <p class="text-dark mb-2">選擇付款方式 <span>*</span></p>
                            <div>
                                <label for="COD">
                                    貨到付款
                                    <input type="radio" id="COD" name="Payment" value="COD">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="Credit">
                                    信用卡
                                    <input type="radio" id="Credit" name="Payment" value="Credit">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="BarCode">
                                    超商條碼
                                    <input type="radio" id="BarCode" name="Payment" value="BarCode">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="CVS">
                                    超商繳費
                                    <input type="radio" id="CVS" name="Payment" value="CVS">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="checkout__form__checkbox">
                            <p class="text-dark mb-2">是否要記住訂單資訊 <span>*</span></p>
                            <div>
                                <label for="Remember">
                                    記住我
                                    <input type="checkbox" id="Remember" name="Remember" value="true">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 position-relative">
                <div class="checkout__order">
                    <h5>Your order</h5>
                    <div class="checkout__order__product">
                        <ul>
                            <li class="d-flex justify-content-between">
                                <span class="top__text d-inline-block" style="width: 70%;">Product</span>
                                <span class="top__text d-inline-block text-center" style="width: 15%;">Quantity</span>
                                <span class="top__text d-inline-block text-right" style="width: 15%;">Total</span>
                            </li>
                            @foreach (var item in Model)
                            {
                                <li class="d-flex justify-content-between">
                                    <span class="d-inline-block" style="width: 70%; text-overflow: ellipsis">@item.Name</span>
                                    <span class="d-inline-block text-center" style="width: 15%; text-overflow: ellipsis">@item.Quantity</span>
                                    <span class="d-inline-block text-right" style="width: 15%;">@Math.Round(item.Price * item.Quantity)</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="checkout__order__total">
                        <ul>
                            <li>
                                Total
                                <span>$@ViewBag.Total</span>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="site-btn">Place order</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    window.addEventListener("load", function () {

        let form = $("form.checkout__form");

        console.log(form.attr('action'));
        let state = $("input[name='Payment']");
        state.on("change", function () {
            if ($(this).val() == "COD") {
                form.attr('action', "/Order/CreateOrder")
            } else {
                form.attr('action', "/Order/PostToECPay")
            }
        })

    })
</script>
