<section class="h-50 d-flex flex-column justify-content-center align-items-center">
    <h5>@ViewBag.Fail 訂單建立失敗</h5>
    <button class="btn btn-danger">@Html.ActionLink("首頁", "Index", "Home")</button>
</section>