<section class="h-50 d-flex flex-column justify-content-center align-items-center">
    <h3>訂單已經建立成功</h3>
    <div class="d-flex justify-content-around">
        <button class="btn btn-danger text-white">@Html.ActionLink("回到首頁", "Index", "Home")</button>
        <button class="btn btn-danger text-white">@Html.ActionLink("我的訂單", "UserView", "Order")</button>
    </div>
    
</section>
@section dealWithCart {
    <script src="~/Assets/JavaScript/Custom/CartPage/clearStorage.js"></script>   
}